html {
	font-family: 'Barrio', cursive;
	background: #050114;
	text-align: center;
	color: #a13aea;
}

ul {
	list-style: none;
}

li {

}

.container {
	font-family: 'El Messiri', sans-serif;
	background: #f9e60c;
	color: #050114;
	border: 3px solid #a13aea;
	border-radius: 5px;
	margin: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
	padding: 2rem;*/
}

/*img {
	max-width: 20rem;
	height: auto;
	min-width: 10rem;
	height: auto;
}*/