html {
	font-family: Arial;
}

ul {
	list-style: none;
}

li {

}

.container {
	background: lightblue;
	border: 6px solid black;
	border-radius: 5px;
	margin: 4rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 2rem;
}

img {
	max-width: 20rem;
	height: auto;
	min-width: 10rem;
	height: auto;
}